@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background: #3DB18E; */
    /* background: url('smk.jpg')no-repeat; */
    background: url('https://1.bp.blogspot.com/-1E-LVbJJpNg/ULEB0c4jfdI/AAAAAAAADiU/C4TjPnlNDuM/s1600/Keluarga+Muslim.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 410px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-content: center;
}
h2{
    font-size: 2em;
    color:  rgb(69, 80, 198);
    text-align: center;

}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid  rgb(69, 80, 198);
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color:  rgb(69, 80, 198);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color:  rgb(69, 80, 198);
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color:  rgb(69, 80, 198);
    font-size: 1.2em;
    top: 20px;

}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color:  rgb(69, 80, 198);
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;

}
.forget label a{
    color:  rgb(69, 80, 198);
    text-decoration: none;

}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: rgb(69, 80, 198);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}
.register{
    font-size: .9em;
    color:  rgb(69, 80, 198);
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color:  rgb(69, 80, 198);
    font-weight: 600;

}
.register p a:hover{
    text-decoration: underline;

}

.select-style {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid  rgb(69, 80, 198);
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.1);
    background:  rgb(69, 80, 198);
    color: #fff;
}

.select-style option{
    background-color: rgb(69, 80, 198);
}
.select-style select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.select-style select:focus {
    outline: none;
}